@import "../../shared/stylesheets/variables";

$background-color: $white !default;
$text-color: $off-black !default;

$main-header-color: $off-black !default;
$main-footer-background-color: $indigo !default;
$main-footer-color: $off-white !default;
$main-footer-height: 80px !default;
