html, body {
    height: 100%;
}

.content-wrap {
    height: auto !important;
    margin: 0rem auto -5rem auto;
    min-height: 100%;
}

.main-content {
    margin: 0rem auto;
    max-width: 75rem;
    width: 90%;
}
