@charset "utf-8";

/* Begin font-size Adjustment */

html {
	font-size: 62.5%;
}

body {
	font-size: 1.3rem;
}

/* End font-size Adjustment */

/* Begin Main Page Styles */

body {
	background: #ebebeb;
	color: #464646;
	font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-family: Georgia, serif;
	font-size: 2.4rem;
	font-style: italic;
}

a:link, a:visited {
	color: #30a4b1;
	text-decoration: none;
}

a:focus, a:hover {
	color: #f7941d;
}

.container {
	margin: 0 auto;
	width: 900px;
}

.content {
	background: #ffffff;
	border: 1px solid #bab9b9;
	padding-bottom: 25px;
}

.line {
	border-top: 1px solid #bab9b9;
	height: 1px;
}

.in {
	margin: 25px auto;
	width: 850px;
}

/* End Main Page Styles */

/* Begin Header */

header {
	overflow: hidden;
}

.logo {
	float: left;
	margin: 25px 0;
}

.controls {
	float: right;
	margin-top: 15px;
}

.v-line {
	color: #999999;
	padding: 0 5px;
}

/* End Header */

/* Begin Main Navigation */

nav#main {
	background: #464646;
	float: left;
	margin-bottom: 20px;
	position: relative;
	width: 900px;
}

nav#main ul {
	margin: 0;
	padding: 0;
}

nav#main ul li {
	float: left;
	font-weight: normal;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav#main ul li a {
	color: #ffffff;
	float: left;
	font-size: 1.4rem;
	margin: 0;
	padding: 20px 30px;
	text-decoration: none;
}

nav#main ul li a:hover, nav#main ul li a.current {
	background: #30a4b1;
}

/* End Main Navigation */

/* Begin Flash Notification */

.notification {
	background: #f7f7f7;
	border: 1px solid #bab9b9;
	margin: 32px;
	min-height: 16px;
	padding: 10px 15px 10px 62px;
	text-align: left;
}

.attention {
	background: #ffdb91 url('../images/notifications/attention.png') no-repeat 15px center;
	border: 1px solid #ffc44a;
}

.success {
	background: #e2ff7d url('../images/notifications/success.png') no-repeat 15px center;
	border: 1px solid #99c600;
}

.error {
	background: #f5b5a9 url('../images/notifications/error.png') no-repeat 15px center;
	border: 1px solid #eb5339;
}

.information {
	background: #b3cfea url('../images/notifications/information.png') no-repeat 15px center;
	border: 1px solid #418acc;
}

.lightbulb {
	background: #feefcb url('../images/notifications/lightbulb.png') no-repeat 15px center;
	border: 1px solid #d3a350;
}

/* End Flash Notification */

/* Begin Page Actions */

#page-actions {
	background: #464646;
	overflow:  hidden;
	height: 39px;
}

#page-actions a {
	color: #ffffff;
	float: left;
	height: 27px;
	padding: 6px;
	line-height: 27px;
}

#page-actions a:hover {
	background: #f7941d;
}

#page-actions input {
	margin-top: 0 !important;
}

.object-search {
	float: right;
}

/* End Page Actions */

/* Begin Object Tables */

table {
	border-left: 1px solid #bab9b9;
	border-right: 1px solid #bab9b9;
	border-top: 1px solid #bab9b9;
	text-align: left;
	width: 100%;
}

thead tr {
	background: #d9d8d8;
	font-size: 1.4rem;
}

tr {
	border-bottom: 1px solid #bab9b9;
}

tr.even {
	background: #f7f7f7;
}

th, td {
	padding: 12px;
}

/* End Object Tables */

/* Begin Forms */

input[type="text"], input[type="password"], input[type="file"], select {
	border: 1px solid #bab9b9;
	color: #707070;
	font-size: 1.4rem;
	margin-top: 5px;
	padding: 10px;
}

input[type="submit"] {
	border:  0;
	background: #f7941d;
	color: #ffffff;
	font-size: 1.4rem;
	margin: 0;
	padding: 10px 20px;
}

input.small {
	width: 300px;
}

input.medium {
	width: 600px;
}

input.large, textarea {
	width: 850px;
}

form p {
	margin-bottom: 15px;
}

/* End Forms */

/* Begin Debug Info */

#debug-info {
	display: none;
}

/* End Debug Info */

/* Begin Footer */

footer {
	margin-bottom: 40px;
	padding-top: 15px;
	text-align: right;
}

/* End Footer */
