@import "./pictures/index";

.quick-links {
    .quick-link {
        text-align: center;

        .material-icons {
            display: block;
        }

        .caption {
            display: block;
        }
    }
}
