@import "./pages/show";
@import "./pages/form";
@import "./pictures/index";
@import "./pictures/show";
@import "./posts/show";
@import "./posts/form";
@import "./users/show";
@import "./users/form";

.quick-links {
    .quick-link {
        text-align: center;

        .material-icons {
            display: block;
        }

        .caption {
            display: block;
        }
    }
}

section.gems {
    ul {
        margin-left: 1.6rem;

        li {
            list-style-type: square;

            ul {
                margin-left: 0rem;
                padding-left: 1.6rem;

                li {
                    list-style-type: disc;
                }
            }
        }
    }
}
