<div id="page-index" class="page">
  <p style="font-size: 25px;">I'm Sean Eshbaugh and I'm a Ruby on Rails developer from Dallas, TX. I've been programming almost every day for about a decade now. It's kinda what I want to do when I grow up.</p>
</div>
