<% @posts.each do |post| %>
  <article id="post-<%= post.id %>" class="post">
    <header>

    </header>
    <div class="post-content">
      <%= post
    </div>
    <footer>

    </footer>
  </article>

<%= debug @posts %>

