<div id="contact" class="page row">
  <header class="page-header col-xs-12">
    <h1 style="color: #5ea33a;">Thanks!</h1>
  </header>
  <div class="page-body col-xs-12">
    <p class="lead">Thank you for your message! I will get back to you soon.</p>
  </div>
</div>
