/*
*= require reset
*= require_self
*/

@charset "utf-8";

@font-face { font-family: ProximaNovaRegular; src: url("/fonts/ProximaNova-Regular.otf"); }

/* Begin Main Page Styles */

body {
  font-size: 13px;
}

a {
  text-decoration: none;
}

/* End Main Page Styles */

/* Begin Header */

#main-header {
  padding: 72px;
  h1 {
    font-family: Coolvetica, Arial, "DejaVu Sans", sans-serif;
    font-size: 96px;
    font-weight: bold;
    letter-spacing: -7px;
    text-shadow: 3px 3px 2px #999999;
  }
  #job-description {
    color: #989898;
    font-size: 18px;
    left: 5px;
    letter-spacing: -1px;
    line-height: 18px;
    position: relative;
    top: -20px;
  }
  #valid {
    color: #323232;
    float: right;
    font-size: 18px;
    //right: 1000px;
    letter-spacing: -1px;
    position: relative;
    top: -90px;
  }
}

/* End Header */

/* Begin Sticky Footer */

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
}

#content {
  overflow: auto;
  padding-bottom: 100px;
}

#main-footer {
  clear: both;
  height: 100px;
  margin-top: -100px;
  position: relative;
}

body:before {
  content: "";
  float: left;
  height: 100%;
  margin-top: -32767px;
  width: 0;
}

/* End Sticky Footer */

/* Begin Footer */

#main-footer {
  background: #000000;
  color: #444444;
}

/* End Footer */

/* Begin Field With Errors */

.field_with_errors {
  input, textarea, select {
    border: 1px solid #ff0000;
    border: 1px solid rgba(255, 0, 0, 0.8);
    box-shadow: 0 0 5px rgba(255, 0, 0, 1);
    -moz-box-shadow: 0 0 5px rgba(255, 0, 0, 1);
    -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, 1);
  }
}

/* End Field With Errors */

/* Begin Blog Post */

/*.post:nth-child(even) {
  background: #ffff00;
}*/

.post {
  margin: 0 auto 50px;
  width: 900px;
  header {
    font-family: ProximaNovaRegular, Arial, serif;
    overflow: hidden;
    h1 {
      border-bottom: 1px solid #e7e7e7;
      float: left;
      font-size: 34px;
      font-weight: lighter;
      padding-bottom: 10px;
      width: 100%;
      a {
        color: #2e2e2e;
      }
    }
    .date {
      background: #f1f1f1;
      border-radius: 15px;
      float: right;
      height: 60px;
      line-height: 30px;
      position: relative;
      right: 80px;
      top: -30px;
      text-align: center;
      width: 60px;
      z-index: -1;
      .day {
        color: #2e2e2e;
        float: left;
        font-size: 24px;
        height: 30px;
        width: 60px;
      }
      .month {
        color: #939191;
        float: right;
        font-size: 16px;
        height: 30px;
        text-transform: uppercase;
        width: 60px;
      }
    }
  }
  .post-content {
    margin-bottom: 25px;
  }
}

/* End Blog Post */
