$black: #000000 !default !global;
$off-black: #444444 !default !global;
$grey: #9e9e9e !default !global;
$off-white: #e9e9e9 !default;
$white: #ffffff !default !global;
$red: #97080e !default !global;
$orange: #da4b0f !default;
$yellow: #e9b104 !default;
$green: #488c13 !default;
$blue: #1b55c0 !default;
$indigo: #4b0082 !default;
$violet: #800080 !default;

$sans-serif-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif !default !global;

$background-color: $white !default;
$text-color: $off-black !default;

$main-header-color: $off-black !default;
$main-footer-background-color: $off-black !default;
$main-footer-color: $off-white !default;
$main-footer-height: 80px !default;
