// @use "../../../../../node_modules/@materializecss/materialize/sass/components/variables" as materialize;

.main-header {
    .main-header-title {
        text-align: center;
    }
}

// Manually determined break points. They don't quite line up with the default materalize break points.
@media only screen and (min-width : 653px) and (max-width : 1303.99px) {
    .main-header {
        .main-header-title {
            font-size: 2.7rem;
        }
    }
}

@media only screen and (max-width : 652.99px) {
    .main-header {
        .main-header-title {
            font-size: 1.8rem;
        }
    }
}
